

  ul{text-align: center;
    list-style-type: none;
padding: 0;
margin: 20px;
color: white;
background-color: black;
}
li{
  
    display: inline;
    margin-right: 50px;
    border-left-style: solid
}

body{
  border-style: solid;
  border-color: red;
  border-radius: 10px;
  margin-left: 50px;
  margin-right: 50px;
 background-color: #80a1de
}

  html {background-color: pink}

h1{text-align: center;
 background-color: green;
margin-top: 10px;
font-family: Georgia;
font-weight: bolder;
border-style: solid;
border-radius: 5px}

p{font-family: Arial;
  margin-left: 75px;
  margin-right: 50px;
  
background-color: white;};


marquee{
  text-align:center;
  margin: top left right bottom;
  margin-left: 50px;
  margin-right: 50px;
  color: green
}

br{
  background-color: white;
}

img{
  text-align: center;
}